/* 
    Document   : Rerquired
    Created on : Jul 20, 2013, 3:18:19 AM
    Author     : shayan
    Description:
        Purpose of the stylesheet follows.
        SlidesJS Required: These styles are required if you'd like a responsive slideshow
*/

#slides {
    display: none
}

.container {
    margin: 0 auto
}

/* For tablets & smart phones */
@media (max-width: 767px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
    .container {
        width: auto
    }
}

/* For smartphones */
@media (max-width: 480px) {
    .container {
        width: auto
    }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
    .container {
        width: 724px
    }
}

/* For larger displays */
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}