{% extends 'AzgilGalleryBundle:Default:layout.html.twig' %}

{% block meta %}
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('bundles/azgilgallery/css/style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
<div id="container">

    <!-- The container is used to define the width of the slideshow -->
    <div id="content">
        <div class="images">
              {{ include('AzgilGalleryBundle:Default:imagetabular.html.twig') }}
            </div>

  {% block javascripts %}
  {% endblock %}
        </div>
    </div>
{% endblock %}